# Recommended for pnpm to auto-install peer dependencies
auto-install-peers=true

# If you prefer to flatten your node_modules structure (similar to npm/yarn classic)
# shamefully-hoist=true

# If you use GitHub Packages for private dependencies, add your token
# @ramiisaac:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

